section {
    margin: 0;
    background-color: #1A324B;
}

* {
    box-sizing: border-box;
  }
  
  nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: #0D1926;
    transition: top 500ms ease-in-out;
  }
  
  nav.scroll-up,
  nav:focus-within {
    top: 0;
  }
  
  nav.scroll-down {
    top: -100%;
  }
  
  .links {
    display: flex;
    margin-right: 175px;
  }
  
  .links a {
    display: inline-block;
    margin: 0 1em;
  }
  
  .logo {
    font-family: 'Courier New', Courier, monospace;
    color: #8CB0D9;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-left: 175px;
  }
  
  nav a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  .aboutme {
    padding: 80px;
    margin-left: 60px;
    display: flex;
    justify-content: space-around;
  }

  .info {
    font-family: 'Inter';
    align-items: center;
    justify-content: space-evenly;
  }

  .info-title {
    color: #8CB0D9;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 40px;
    font-weight: 600;
  }

  .info-description {
    font-size: 25px;
    color: lightgray;
  }

  .headshot {
    margin-right: 60px;
    width: 300px;
    border-radius: 74% 26% 76% 24% / 30% 70% 30% 70% ;
  }